@model IEnumerable<Bookstore.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Books</h1>

<p>
    <a class="btn btn-outline-danger" asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Genres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary">
  
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <ul>
                @foreach(var bookGenre in item.BookGenres)
                {
                    <li>@bookGenre.Genre.Name</li>
                }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
